!!!
%html
  %head
    %meta{content: 'text/html; charset=UTF-8" http-equiv="Content-Type'}
  %body
    %h1 Subscription Cancelled
    %p
      Your subscription has been cancelled.
    %p
      We are sorry to see you go. We'd love to have you back.
      Visit studyhall.com anytime

