#welcome.hero-unit.span7
  %h1 Membership Site
  %h3 Learn to build a successful subscription site.

.row.span8.plans
  .span2.well
    .plan
      %h2 Silver
    %ul.unstyled
      %li One lesson a month
    %h3 $9/month
    = link_to 'Subscribe', new_user_registration_path(plan: 'silver'), class: 'btn btn-primary'

  .span2.well.featured
    .plan.featured-plan
      %h2 Gold
    %ul.unstyled
      %li Ten lessons a month
    %h3 $19/month
    = link_to 'Subscribe', new_user_registration_path(plan: 'gold'), class: 'btn btn-primary'

  .span2.well
    .plan
      %h2 Platinum
    %ul.unstyled
      %li Thirty lessons a month
    %h3 $29/month
    = link_to 'Subscribe', new_user_registration_path(plan: 'platinum'), class: 'btn btn-primary'
